@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Glegoo);

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
	
	

	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.3;
}

#one {
	color: #7E91A9;
	padding: 20px;
	margin-top: 28px;
	margin-left: 15px;
	background-color: #FFE2B8;
	border: 1px black solid;

}

header {
	/*F8F8FF*/
	background-color: #FFED74;
	padding: 20px;
	color: #5c5b5b;
	border: 1px black solid;
}

#slogan {
	font-size: 15px;
	margin-left: 18px;
	font-family: 'Montserrat', sans-serif;
}

nav {
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	word-spacing: 30px;
	letter-spacing: 5px;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;

}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
}

h1 {
	color: #FFB099;
	font-family: 'Montserrat', sans-serif;
}

main {
	color: #5c5b5b;
	padding: 20px;
	font-size: 15px;
	font-family: 'Glegoo', serif;
	font-size: 12px;
	border: 1px black solid;	
}

#story {
	background-color: #F8F8FF;
	width: 500px;
	
	

}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

h3 {
	padding: 15px;
	margin-top: 85px;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

#cupcake {
	padding: 15px;
	background-color: #FFDDD2;
	opacity: .8;
	width: 500px;
}

ul {
	margin-top: 5px;
	margin-left: 50px;
	padding: 10px;	
}

#contact {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #FFDDD2;
	opacity: .6;
	font-size: 15px;
	text-align: center;
	text-decoration: underline;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #7E91A9;
}

.article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
